<main>
   <div id="carrossel">
  <button class="bot" (click)="anterior()" aria-label="Imagem anterior">◀</button>

  <div id="carrossel-imagem">
    <img  [src]="nom[indiceAtual]" [alt]="'Imagem ' + (indiceAtual + 1)">
    <img  [src]="nom[indiceAtual]" [alt]="'Imagem ' + (indiceAtual + 1)">
    <img  [src]="nom[indiceAtual]" [alt]="'Imagem ' + (indiceAtual + 1)">
    <img  [src]="nom[indiceAtual]" [alt]="'Imagem ' + (indiceAtual + 1)">
    <img  [src]="nom[indiceAtual]" [alt]="'Imagem ' + (indiceAtual + 1)">
    <img  [src]="nom[indiceAtual]" [alt]="'Imagem ' + (indiceAtual + 1)">
    <img  [src]="nom[indiceAtual]" [alt]="'Imagem ' + (indiceAtual + 1)">
  </div>

  <button class="bot" (click)="proximo()" aria-label="Próxima imagem">▶</button>
</div>
</main>
