.conteiner {
    display: flex;
    padding: 30px;
    flex-direction: column;
    gap: 10px;
    background-color: var(--fundo);
}

.card-lista{
    width: 11.4em;
    font-size: 14px;
}

.titulo{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.titulo h1{
    font-size: 24px;
    font-weight: 600;
}

.painel {
    display: flex;
    padding: 20px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex: 1 0 0;
    align-self: stretch;

    border-radius: 20px;
    border: 1px solid rgb(216, 216, 216);
    background: linear-gradient(0deg, #FFF 0%, #FFF 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), #FFF;
}

.painel-head {
    display: flex;
    height: 44px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;

    margin-bottom: 20px;
}

.painel-content {
    border-radius: 0.5em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;

    border: 1px solid #F7F7F7;
}

.content-head {
    border-radius: 0.5em 0.5em 0em 0em;
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: var(--fundo);
}

.buscador-prd {
    display: flex;
    width: 433px;
    padding: 10px;
    align-items: center;
    gap: 43px;
    align-self: stretch;

    border-radius: 10px;
    border: 1.65px solid #C7C7C7;
}

.buscador-prd::placeholder {
    background-image: url(/img/lupa-Icon.svg);
    background-repeat: no-repeat;
    background-position: 96%;
}

.add-btn {
    display: flex;
    width: 192px;
    padding: 15px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;

    border: none;
    border-radius: 15px;
    background: var(--azul2);

    font-size: 16px;
    color: #F7F7F7;
}

.add-btn:hover{
    background: var(--azul3);
    cursor:pointer;
    transition: 500ms;
}

.cont-cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 10em;
    gap: 10px;
    font-size: 14px;
    font-weight: 500;
}

.acoes{
    width: 5em;
}

.check{
    display: flex;
    gap: 20px;
}

.cont-cabecalho-nav {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.cont-cabecalho-nav > img:hover{
    cursor: pointer;
    transform: scale(1.2, 1.2);
    transition: 1000ms;
}

.content-lista {
    display: flex;
    padding: 0 10px;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
}

.listador-instacia {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1em 0;

    border-bottom: 1px solid #F7F7F7;
}

.sobre-prd {
    display: flex;
    align-items: center;
    gap: 10px;
}

.sobre-prd-txt {
    display: flex;
    flex-direction: column;
}

.sobre-prd-txt .id{
    font-size: 12px;
    color: var(--azul3);
    font-weight: bold;
}

.painel-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    height: 4vh;
    padding: 0 1vw;

    margin-top: 1vh;
    border-radius: 1vh;
    border: 1px solid var(--azul1);
}

.marcador {
    display: flex;
    gap: 2px;
}

.nav-pages {
    display: flex;
    width: 225px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

.nav-page-arrows {
    display: flex;
    justify-items: center;
    justify-content: center;
    gap: 6px;
}

.arrow {
    display: flex;
    padding: 4px 6px;
    align-items: center;

    border-radius: 5px;
    border: 1px solid #B0B0B0;
}

.acoes-prd {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 10px;
}

.sobre-prd img{
  height: 45px;
  width: 50px;
}

.acoes-prd img {
    width: 20px;
    height: 20px;
}

.acoes-icon:hover{
    cursor: pointer;
    transform: scale(1.2, 1.2);
    transition: 1000ms;
}
