<div id="menu-lateral">
  <button id="btnCarrinho">
    <div class="icone"><img src="icons/carrinhoAmarelo.svg" alt="Carrinho"></div>
    Minhas compras
  </button>

  <button id="btnPresente">
    <div class="icone"><img src="icons/presenteAmarelo.svg" alt="Lista de Presente"></div>
    Listas de presente
  </button>

  <button id="btnAvaliacao">
    <div class="icone"><img src="icons/estrelaAmarela.svg" alt="Avaliações"></div>
    Minhas avaliações
  </button>

  <button id="btnAjuda" (click)="toggleSubmenu()">
    <div class="icone"><img src="icons/ajudaAmarelo.svg" alt="Ajuda"></div>
    Ajuda
    <span class="seta">{{ submenuAberto ? '▲' : '▼' }}</span>
  </button>

  <div *ngIf="submenuAberto" class="submenu-container">
    <button id="btnAcessibilidade">
      <div class="icone"><img src="icons/acessibilidadeAmarelo.svg" alt="Acessibilidade"></div>
      Acessibilidade
    </button>
    <button id="btnContato">
      <div class="icone"><img src="icons/contatoAmarelo.svg" alt="Contato"></div>
      Contato
    </button>
  </div>

  <button id="btnPrivacidade">Política de privacidade</button>
  <button id="btnTermos">Termos e condições</button>
</div>
