main{
  background-color: var(--azul4);
  color: #FFF;
}

p{
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
}

.inferior{
  display: flex;
  justify-content: space-between;
  padding: 20px 60px;
  display: flex;
  align-items: center;
  border-top: 1px solid var(--Amarelo, #F5F50C);

}

.superior{
  display: flex;
  justify-content: space-between;
  padding: 20px 60px;
}

.inferior P{
  color: rgba(255, 255, 255, 0.70);
  font-size: 12px;
  font-weight: 600;
}

.inferior .icones{
  width: 20%;
  display: flex;
  justify-content: space-between;
}

.inferior .icones img{
  width: 20px;
  height: 20px;
}


.meiosP{
  display: flex;
  justify-content: space-between;
}

.meiosP img{
  width: 40px;

}

.group1{
  display: flex;
  justify-content: space-between;
  width: 30%;
}

.group2{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
}

.links{
  display: flex;

  justify-content: space-between;
  align-items: end;
  width: 40%;
}

.links p {
  cursor: pointer;
}

.links p:hover, img:hover{
  transform: scale(1.06);
  cursor: pointer;
}