main {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: #fff;
}

.superior {
  display: flex;
  justify-content: space-between;
  padding: 40px 60px;
  width: 100%;
}

.col {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.logo-col {
  width: 260px;
}

.logo-col p {
  pointer-events: none;
  cursor: default;
}

.titulo {
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 800;
  margin-top: 0px;
}

.descricao {
  font-size: 13px;
  color: #555;
  max-width: 200px;
}

.redeSociais {
  display: flex;
  gap: 12px;
  margin-top: 15px;
}

.redeSociais img {
  width: 20px;
  transition: .2s;
}

.redeSociais img:hover {
  transform: scale(1.15);
}

.tituloCol {
  font-weight: 800;
  margin-bottom: 8px;
}

.col p {
  font-size: 14px;
  cursor: pointer;
}

.col p:hover:not(.tituloCol) {
  transform: scale(1.05);
  transition: .2s;
}

.inferior {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 60px;
  background: #f7f7f7;
}

.inferior p {
  font-size: 12px;
  color: #666;
}

.pagamentos {
  display: flex;
  gap: 14px;
}

.pagamentos img {
  width: 35px;
  transition: .2s;
}

.pagamentos img:hover {
  transform: scale(1.1);
}
