<main>
  <div class="superior">
    <div class="group1">
      <img src="img/logo.png" alt="" width="100px">
      <div class="group2">
        <p>Pagamentos disponiveis</p>
        <div class="meiosP">
          @for (item of pagamentos; track $index) {
            <img [src]="item.caminho" [alt]="item.desc">
          }
        </div>
      </div>
    </div>

    <div class="links">
      @for (link of links; track $index) {
        <p>{{link}}</p>
      }
    </div>
  </div>



  <div class="inferior">
    <p> Mundo nostalgico {{arroba}} Todos Os direitos Reservados</p>
    <div class="icones">
      @for (icone of icones; track $index) {
        <img [src]="icone.caminho" [alt]="icone.desc"/>
      }
    </div>
  </div>
</main>
