#carrossel
{
display: flex;
height: 455px;
padding: 0 13px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 10px;
flex-shrink: 0;
align-self: stretch;
}

#carrossel2
{
display: flex;
justify-content: center;
align-items: center;
gap: 13px;
align-self: stretch;
}

#carrossel3
{
display: flexbox;
width: 1290px;
flex-direction: column;
align-items: center;
gap: 13px;
}

#carrocel4
{
display: flex;
width: 100px;
padding: 0 3px;
justify-content: space-between;
align-items: center;
}

#carrocel5
{
display: flex;
width: 499px;
justify-content: space-between;
align-items: start;
flex-shrink: 0;

}

.carrossel-container {
  display: flex;
  align-items: center;
  position: relative;
}

.carrossel-slide {
overflow: hidden;
flex-wrap: nowrap;

display: flex;
align-items: flex-start;
gap: 15px;
align-self: stretch;
}

.indicadores {
  display: flex;
  justify-content: end;
  margin-top: 10px;
}

.indicadores span {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: gray;
  margin: 0 5px;
  cursor: pointer;

  
}

.indicadores span.ativo {
  background: #2499C7;
}

.bot
{
display: flex;
width: 50px;
height: 50px;
justify-content: center;
align-items: center;
gap: 5px;
cursor: pointer;

border-radius: 10px;
border: 1px solid #2499C7;
}

button:hover {
  background: #006691;
  color: #fff;
}

#titulo
{
    display: flex;
    
}