<div id="carrossel">

    <div id="carrossel2">
        
<!-- Indicadores (bolinhas) -->
<button class="bot" (click)="anterior()">◀</button>

<div id="carrossel3">

    <div id="carrossel4">

        <div  id="carrossel5">

        <p id="titulo">oi</p>
        <p id="link">teste</p>
        </div>

<div class="indicadores">
  <span *ngFor="let i of [].constructor(totalPaginas()); let idx = index"
        (click)="irParaPagina(idx)"
        [class.ativo]="idx === paginaAtual">
  </span>

  </div>

</div>

  <div class="carrossel-slide">
    <app-cardPadrao *ngFor="let produto of produtosPaginaAtual"></app-cardPadrao>
  </div>

    </div>

  <button class="bot" (click)="proximo()">▶</button>
</div>




  </div>
