<div class="conteiner">

    <h2 class="dados-ttl">Meus Dados</h2>

    <div class="input-conteiner">

        <div class="double-input nome-sobrenome">

            <div class="input-box  user-nome">
                <label for="ins-nome">Nome</label>
                <input class="inp_pd" type="text" name="user-nome" id="ins-nome" placeholder="digite o seu nome">
            </div>

            <div class="input-box user-sobn">
                <label for="ins-sbnome">Sobreome</label>
                <input type="text" name="user-sobrenome" id="ins-sbnome">
            </div>

        </div>

        <div class="input-box email">
            <label for="ins-email">Email</label>
            <input type="email" name="email e-mail" id="ins-email">   
        </div>

        <div class="double-input cpf-cel">

            <div class="input-box cpf">
                <label for="ins-cpf">CPF</label>
                <input type="text" name="cpf" id="ins-cpf">
            </div>

            <div class="input-box cpf">
                <label for="ins-cel">Celular</label>
                <input type="text" name="celular cel" id="ins-cel">
            </div>

        </div>

        <div class="input-box dn">
            <label for="ins-dn">Data de Nascimento</label>
            <input type="date" name="data-nascimento" id="ins-dn">
        </div>

    </div>

    <div class="button-box">
        <button class="salvar-btn" type="submit">Salvar Alterações</button>
    </div>
</div>