.conteiner {
    display: flex;
    height: fit-content;
    padding: 1rem 2rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 4rem;
    align-self: stretch;
    margin: 1em 1vw;
    width: 50em;


    border-radius: 20px;
    border: 0.5px solid #000;
    background: #FBFBFB;

}

.input-conteiner{
    display: flex;
    flex-direction: column;
    align-self: stretch;
    align-items: center;

    gap: 0.2em;
}

input{
    padding: 0.7rem 1.3rem;
    border-radius: 2vh;
    border: 1px solid var(--cinza1);
    outline: none;
    width: 100%;
}

.double-input{
    display: flex;
    gap: 2vw;
    width: 100%;
    justify-content: space-between;
}

.input-box{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 2px;
}









.button-box{
    padding: 0.2rem 0.8rem;
}
.button-box button{
    background-color: var(--azul1);
    color: var(--branco);
    border: 0.8px solid var(--azul2);
    border-radius: 2vh;
    
    font-size: 1rem;
    font-family: var(--fontPadrao);
    font-weight: 700;

    padding: 1rem 2rem;
}

.button-box :hover{
    background-color: var(--azul2);
    transition: 700ms;
}

.button-box :active{
    background-color: var(--azul3);
    transition: 400ms;
}

.salver-btn:hover{
    cursor: pointer;
    background-color: var(--azul2);
    transition: 700ms;
}