.conteiner {
    display: flex;
    height: 600px;
    padding: 53px 52px;
    flex-direction: column;
    align-items: flex-start;
    gap: 4rem;
    align-self: stretch;
    margin: 1px 1px;


    border-radius: 20px;
    border: 0.5px solid #000;
    background: #FBFBFB;

}

input {
    width: 100%;
    height: 2.5rem;
    padding: 0 1rem;

    border-radius: 50px;
    border: 1px solid rgba(155, 155, 155, 0.4);
    background: #FFF;
    font-size: 16px;
}

input:focus {
    outline: none;
}

label{
    font-weight: 700;
}

.input-box {
    display: flex;
    flex-direction: column;
    align-self: stretch;
}

.input-conteiner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 26px;
    align-self: stretch;
}

.input-box {
    display: flex;
}

.double-input {
    display: flex;
    align-items: center;
    align-content: center;
    gap: 2rem;
    align-self: stretch;
    flex-wrap: wrap;
}

.email{
    align-self: stretch;
}

.dn input {
    padding: 0 1rem;
    align-self: stretch;
}




.salvar-btn {
    width: 150%;
    height: 3rem;
    padding: 0 2rem;

    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;

    color: var(--branco);
    background-color: #2499C7;
    border: none;
    border-radius: 10px;
}

.salvar-btn:hover{
    background-color: #176C8E;
    cursor: pointer;
    transition: 700ms;
}