* { color: white; font-family: "Montserrat";}


.logo {
    font-family: var(--logo);
    font-size: 32px;
    letter-spacing: 1px;
    cursor: pointer;
}

.group {
    width: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.group img {
    height: 50%;
}

.tamanho{
    width: 10%;
}

.superior {
    background-color: var(--azul3);
    padding: 15px 60px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cep {
    display: flex;
    gap: 5%;

    align-items: center;
}

.cep:hover{
    cursor: pointer;
}

.inferior {
    background-color: var(--azul2);
    padding: 0px 60px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icons {
    display: flex;

    justify-content: space-between;
    width: 20%;
    height: fit-content;
    display: flex;
    align-items: center;
}

.icons a {
    width: 20px;
    height: 20px;
}

.icons a img {
    width: 150%;
    height: 150%;
}

.inferior nav {
    display: flex;
    gap: 10px;
}

.menu-btn {
    background: none;
    border: 0;
    cursor: pointer;
    padding: 0;
    display: flex;
    justify-content: end;
}

.menu-btn img {
    width: 28px;
    height: 28px;
}

nav{
    font-size: 14px;
}