<div class="header">
    <div class="superior">
        <div class="group">
            <h1 class="logo" [routerLink]="['']">Mundo nostalgico</h1>
        </div>
        <app-busca />
        <nav class="icons">
            <a [href]="caminho()"><img src="icons/perfil.svg" alt="perfil"></a>
            <a href=""><img src="icons/favorito.svg" alt=""></a>
            <a href=""><img src="icons/notificacao.svg" alt=""></a>
            <a href=""><img src="icons/carrinho.svg" alt=""></a>
        </nav>
    </div>

    <div class="inferior">
        
        <div class="cep">
            
            <img src="icons/localizacao.svg" alt="">
            <p>Informe Seu Cep</p>
        </div>
        <nav>
            @for (elemento of elementos; track elemento.nome){
            <app-botao-header [nome]="elemento.nome"></app-botao-header>
            }
        </nav>
        
        <button type="button" class="menu-btn tamanho" (click)="abrirMenuEvent.emit()">
            <img src="icons/menu.svg" alt="Menu">
        </button>
    </div>
</div>