* { color: white; font-family: "Montserrat";}


.logo {
    width: 72px;
    cursor: pointer;
}

.group {
    width: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.group img {
    height: 50%;
}

.superior {
    background-color: var(--azul3);
    padding: 10px 60px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cep {
    display: flex;
    gap: 5%;

    align-items: center;
}

.cep:hover{
    cursor: pointer;
}

.inferior {
    background-color: var(--azul2);
    padding: 10px 60px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icons {
    display: flex;

    justify-content: space-between;
    width: 20%;
    height: fit-content;
    display: flex;
}

.icons a {
    width: 20px;
    height: 20px;
}

.icons a img {
    width: 150%;
    height: 150%;
}

.inferior nav {
    display: flex;
    gap: 10px;
}

.menu-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.menu-btn img {
    width: 24px;
    height: 24px;
}