<div class="admin-nav">
    <div class="nav-head">
        <h2 class="nav-logo">MUNDO NOSTALGICO </h2>

        <img src="/src/app/Img/Vector.svg" alt="">
    </div>

    <div class="nav-lista">
        <ul>
            <li>
                <img src="/src/app/Img/home-icon.svg" alt="">
                <p>Produtos</p>
            </li>
            <li>
                <img src="/src/app/Img/File-icon.svg" alt="">
                <p>Pedidos</p>
            </li>
            <li>
                <img src="/src/app/Img/adm-user-icon.svg" alt="">
                <p>Clientes</p>
            </li>
        </ul>
    </div>
</div>