.admin-nav {
    color: var(--branco);
    font-family: "Montserrat", "Sans-serif";
    width: 15vw;
    min-height: 100vh;
    height: 100%;
    background-color: #2499C7;
}

.nav-head {
    display: flex;
    height: 10vh;
    justify-items: center;
    justify-content: space-between;
    align-items: center;

    padding: 0 0.5vw;

    background-color: #2499C7;

    border-bottom: 1px solid #006691;
}
.nav-head img{
    width: 3vw;
    height: 3vh;
}

.nav-lista {
    display: flex;
    padding: 1vw 1vh;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.listador{
    display: flex;
    flex-direction: column; 
    padding: 10% 5%;
    width: 100%;
}

.file, .user{
    margin-left: 4px;
}

.listador li{
    padding: 10px ;
    display: flex;
    flex-direction: row;
    gap: 1vw;   
    width: 100%;
}

.listador li:hover{
    background-color: var(--azul4);
    width: fit-content;
    border-radius: 20px;
    cursor: pointer;
    width: 100%;
    transition: 500ms;
}

.nav-logo {
    height: fit-content;
    width: fit-content;

    color: #FFF;
    
    text-align: center;
    font-family: "Montserrat", "Sans-serif";
    font-size: 1rem;
    font-weight: 400;
}

.nav-logo{
    cursor: pointer;
}

.nav-head img{
    cursor: pointer;
}