<div class="admin-nav">
    <div class="nav-head">
        <h2 class="nav-logo">MUNDO NOSTALGICO </h2>

        <img src="/src/app/Img/Vector.svg" alt="">
    </div>

    <div class="nav-lista">
        <ul class="listador">
            <li>
                <img class="icon home" src="icons/adm/home-icon.svg" alt="">
                <p>Produtos</p>
            </li>
            <li>
                <img class="icon file" src="icons/adm/File-icon.svg" alt="">
                <p>Pedidos</p>
            </li>
            <li>
                <img class="icon user" src="icons/adm/client-icon.svg" alt="">
                <p>Clientes</p>
            </li>
        </ul>
    </div>
</div>