<div class="conteiner">
    <div class="col1">
        <div class="info-prd">
            <p>Informações do Produto</p>
            <div class="input-boxes">

                <div class="input-box nome">
                    <label for="insere-nome">{{ acoes[0] }}</label>
                    <input type="text" name="peidador" [value]="_produtos[busca()].nome" id="insere-nome">
                </div>

                <div class="input-box nome">
                    <label for="insere-desc">{{ acoes[1] }}</label>
                    <input type="text" name="peidador"  [value]="_produtos[busca()].descricao"  id="insere-desc">
                </div>

                <div class="input-box-valores">
                    <div class="input-box qtd">
                        <label for="insere-qtd">{{ acoes[2] }}</label>
                        <input type="text" name="peidador"  [value]="_produtos[busca()].qtd"  id="insere-qtd">
                    </div>
                    <div class="input-box preco">
                        <label for="insere-desc">{{ acoes[3] }}</label>
                        <input type="text" name="peidador"  [value]="_produtos[busca()].preco"  id="insere-preco">
                    </div>
                </div>

                <div class="input-box-infos">
                    <div class="input-box anoL">
                        <label for="insere-qtd">{{ acoes[4] }}</label>
                        <input type="text" name="peidador"  [value]="_produtos[busca()].anoLancamento"  id="insere-qtd">
                    </div>
                    <div class="input-box marca">
                        <label for="insere-marca">{{ acoes[5] }}</label>
                        <input type="text" name="peidador"  [value]="_produtos[busca()].marca"  id="insere-marca">
                    </div>
                </div>

                <div class="input-box-ctg">
                    <form class="input-ctg">
                        <select name="categorias" required="required">
                            <option value=""> Escolha uma categoria </option>
                            <option value="marca1">{{categorias[0]}}</option>
                            <option value="marca1">{{categorias[1]}}</option>
                            <option value="marca1">{{categorias[2]}}</option>
                        </select>
                    </form>
                </div>

            </div>
        </div>
    </div>
    <div class="col2">

        <div class="espec-prd">
            <p>Especificações do Produto</p>
            @for(espec of _produtos[busca()].especificacoes; track $index)
            {
                <div class="input-cont espec">
                    <label for="insere-esp">Especificação</label>
                    <input type="text" name="" id="insere-esp" [value]="espec.especificacao" placeholder="Informe a Especificação">
                </div>
                <div class="input-cont valor">
                    <label for="insere-val">Valor</label>
                    <input type="text" name="" id="insere-val" [value]="espec.valor" placeholder="Informe o Valor">                
                </div>
            }
            <div >
                <button class="espec-btn" type="submit">Adicionar Especificação <img src="icons/adm/add-blue-icon.svg" alt=""></button>
            </div>  
        </div>

        <div class="imgs-prd">
            <p>Imagens do Produto</p>
            <div class="molduras">

                <div class="moldura 1">
                    <img src="icons/adm/img-frame-icon.svg" alt="">
                   <p>Imagem 1</p>
                </div>
                <div class="moldura 2">
                    <img src="icons/adm/img-frame-icon.svg" alt="">
                    <p>Imagem 2</p>
                </div>
                <div class="moldura 3">
                    <img src="icons/adm/img-frame-icon.svg" alt="">
                    <p>Imagem 3</p>
                </div>
                <div class="moldura 4">
                    <img src="icons/adm/img-frame-icon.svg" alt="">
                    <p>Imagem 4</p>
                </div>

            </div>
        </div>
        
        <button class="save-button" type="submit">
            SALVAR
            <img src="icons/add-icon.svg" alt="">
        </button>

    </div>
</div>