<div class="carrossel-container">

  <div class="conteiner-box">
    <h2 class="titulo">Categorias</h2>

    <div class="carrossel-linha">
      <button class="botao-nav esq" (click)="anterior()">‹</button>

      <div class="carrossel-janela">
        <div class="carrossel-faixa" [style.transform]="'translateX(-' + paginaAtual * 50 + '%)'">
          <div class="pagina">
            @for (elemento of categorias; track $index){
              <button class="categoria">{{elemento}}</button>
            }
          </div>  
        </div>
      </div>

      <button class="botao-nav dir" (click)="proximo()">›</button>
    </div>
  </div>

</div>