<div class="carrossel-container">

  <div class="conteiner-box">
    <h2 class="titulo">Categorias</h2>

    <div class="carrossel-linha">
      <button class="botao-nav esq" (click)="anterior()">‹</button>

      <div class="carrossel-janela">
        <div class="carrossel-faixa" [style.transform]="'translateX(-' + paginaAtual * 50 + '%)'">
          <div class="pagina">
            <button class="categoria">Peões</button>
            <button class="categoria">Veículos</button>
            <button class="categoria">Esportes</button>
            <button class="categoria">Infláveis</button>
          </div>

          <div class="pagina">
            <button class="categoria">Clássicos</button>
            <button class="categoria">Articuláveis</button>
            <button class="categoria">Pelúcia</button>
            <button class="categoria">Blocos de Construção</button>
          </div>


        </div>
      </div>

      <button class="botao-nav dir" (click)="proximo()">›</button>
    </div>
  </div>

</div>