/* Container do carrossel (pai de tudo) */
.carrossel-container {
  width: 100%;
  text-align: center;
  justify-content: center;
  justify-items: center;
  padding: 3vh 2vw;
  margin-bottom: 2%;

  border-top: 1px solid rgba(100, 100, 100, 0.2);
  border-bottom: 1px solid rgba(100, 100, 100, 0.2);
  background-color: var(--fundo);
}

.conteiner-box{
  width: 70%;
}

/* Novo contêiner para a linha de botões e carrossel */
.carrossel-linha {
  display: flex;
  align-items: center; /* Alinha os itens verticalmente no centro */
  justify-content: space-between; /* Espaço entre os botões de seta e a janela */
  width: 100%; /* Ocupa a largura total do carrossel-container */
}

.titulo {
  font-size: 22px;
  font-weight: bold;
  color: #333;
  margin-top: auto;
}

/* Área visível */
.carrossel-janela {
  overflow: hidden;

  flex: 1; /* Permite que a janela do carrossel ocupe o espaço restante */
  margin: 0 10px; /* Adiciona um pequeno espaço entre as setas e a janela */
}

/* Faixa que desliza */
.carrossel-faixa {
  display: flex;
  width: 300%; /* duas páginas */
  transition: transform 0.6s ease-in-out;
}

/* Cada página ocupa metade da faixa */
.pagina {
  display: grid;
  /* Nova regra para ajustar as colunas ao conteúdo */
  grid-template-columns: auto-flow;
  grid-auto-columns: minmax(min-content, max-content);
  grid-auto-flow: column;
  gap: 20px; /* Define o espaçamento entre os botões */
  flex: 0 0 50%;
  width: 20%;
  padding: 20px 0;
  box-sizing: border-box;
  justify-content: center; /* Centraliza a grade horizontalmente */
  align-items: center; /* Centraliza os itens verticalmente */
}

/* Botões de categoria */
.categoria {
  width: 150px;        /* Largura fixa */
  height: 80px;        /* Altura fixa (pode ajustar) */

  padding: 12px 20px;
  border: 1px solid #2499c7;
  border-radius: 8px;
  background-color: #fff;
  color: #2499c7;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s;

  text-align: center;
  white-space: normal;     /* Permite quebrar linha */
  word-wrap: break-word;   /* Quebra palavras grandes */

  display: flex;           /* Centraliza conteúdo */
  justify-content: center;
  align-items: center;
}

.categoria:hover {
  background-color: #2499c7;
  color: #fff;
}

/* Botões de navegação */
.botao-nav {
  /* Remove o posicionamento absoluto */
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #2499c7;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  color: #2499c7;
  z-index: 10;
  flex-shrink: 0; /* Impede que os botões diminuam de tamanho */
}

.botao-nav:hover {
  background: #2499c7;
  color: #fff;
}
