<app-menu-header></app-menu-header>

<main class="container">
  <div id="fundo">

    <div class="content-box">
      <span class="loginTitulo">Login</span>

      <div class="aviso">{{this.aviso}}</div>

      <div id="ngEmail">
        <form class="loginForm" [formGroup]="form">

          <div class="input-group">
            <label for="email">Email ou User</label>
            <input id="email" type="email" name="usuario" placeholder="E-mail" [formControlName]="'email'">
          </div>

          <div class="input-group">
            <label for="senha">Senha</label>
            <input id="senha" type="password" name="senha" placeholder="Senha" [formControlName]="'senha'">
          </div>
        </form>
       
        <p class="fgt-senha">Esqueci minha senha</p>
      </div>

      <div id="conta">
        <button class="btnLogin" type="submit" (click)="verificar()">
          Entrar
          <img src="icons/loginEntrar.svg" alt="Icone de entrar">
        </button>

        <button class="btnCadastro" (click)="clicarCadastro()">
          Criar conta <img src="icons/user-add.svg" alt="Icone de criar conta">
        </button>
      </div>

      <div class="divider">
        <span>ou</span>
      </div>

      <div class="socialLogin">
        <button><img src="icons/Icon-google.svg" alt="Google"> Google</button>
        <button><img src="icons/facebook-icon.svg" alt="Facebook"> Facebook</button>
      </div>

    </div>

  </div>
</main>

<app-footer></app-footer>