.conteiner{
  font-family: "Montserrat", "Sans-serif";
  
}

main{
  background: linear-gradient(180deg, #19759A 0%, #2CBFFF 100%);
  height: 100vh;
}

.centro{
  height: 90%;
  display: flex;
}

.input-group{
  text-align: center;
}

#fundo {
  width: 30em;
  padding: 50px;
  height: 38em;
  margin: auto;
  border-radius: 40px;
  background: #FFF;
  box-shadow: 0 10px 4px 0 rgba(0, 0, 0, 0.25);
}

.aviso {
  color: #ff5c5c ;
  font-size: 12px;
  margin-top: 3px;
  display: block;
}

.content-box{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

.fgt-senha{
  font-size: 12px;
  width: fit-content;
  align-self: center;
  margin: 0 auto;
}

label{
  text-align: center;
  font-size: 14px !important;
  font-weight: 700;
}

.fgt-senha:hover{
  color: var(--azul2);
  cursor: pointer;
  transition: 700ms;
}

.loginTitulo {
  font-size: 42px;
  font-weight: bold;
  color: black;
  text-align: center;
  margin-bottom: 50px;
}

.loginForm {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.loginForm input {
  width: 100%;
  padding: 7px 16px;
  border-radius: 20px;
  border: 1px solid rgba(175, 175, 175, 0.58);
  background: #f5f5f5;
  outline: none;
  font-size: 14px;
}

.loginForm input:focus {
  border-color: var(--azul3);
  box-shadow: 0 0 4px rgba(0, 102, 145, 0.3);
}

#tituloEmail, #tituloSenha {
    text-align: center;
    font-weight: bold;
}

.mensagemErro {
  margin-top: 15px;
  color: red;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

#conta {
  display: flex;
  flex-direction: row;
  gap: 1vw;
  align-items: center;
  width: 100%;
  padding: 0 5vw;
}

.btnLogin, .btnCadastro {
  display: flex;
  padding: 10px 10px;
  justify-content: center;
  align-items: center;    
  gap: 10px;
  flex: 1 0 0;
  align-self: stretch;
  border-radius: 10px;
  background: #f1f1f1;
  cursor: pointer;
  border: none;
  transition: 0.3s ease;
  font-weight: bold;
  margin: 0 auto;
}

.btnLogin {
  width: 120px;
}

.btnCadastro {
  width: 120px;
  font-size: 11px;
}

.btnLogin:hover, .btnCadastro:hover {
  background: var(--azul2);
  color: white;
}

.divider {
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--azul3);
  font-size: 14px;
  width: 100%;
  margin: 20px 0;
}

.divider::before,
.divider::after {
  content: "";
  flex: 1;
  border-bottom: 3px solid var(--azul3);
}

.divider:not(:empty)::before {
  margin-right: 10px;
}

.divider:not(:empty)::after {
  margin-left: 10px;
}

.socialLogin {
  display: flex;
  justify-content: center;
  gap: 15px;
  height: 40px;
}

.socialLogin button {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 5px 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  background: #f5f5f5;
  cursor: pointer;
  font-size: 14px;
  transition: 0.3s ease;
}

.socialLogin button:hover {
  background: #eaeaea;
}

.socialLogin img{
  width: 2em;
}


.logo{
    
    padding-left: 3rem;
    padding: 1rem;
    
    background-color: white;
}

.logo button{
    border: none;
    font-size: 24px;
    color: var(--azul1);
    font-style: italic;
    background-color: white
}

.logo button:hover{
    cursor: pointer;
}

label{
  font-size: 18px;
  font-weight: 600;
}