<div class="container-carrossel">
<div class="cabecalho-carrossel">

<div class="textos-cabecalho">

<p class="titulo-carrossel">Ofertas</p>

 <p class="link-carrossel">Mais Ofertas</p>

</div>



<div class="indicadores">

<span *ngFor="let i of [].constructor(totalPaginas()); let idx = index"

(click)="irParaPagina(idx)"

[class.ativo]="idx === paginaAtual">

</span>

</div>

</div>



 <div class="conteudo-carrossel">
<button class="botao-navegacao anterior" (click)="anterior()">◀</button>
<!-- Aqui adicionei a classe "animar" -->

<div class="slide-carrossel animar">
<app-cardPadrao *ngFor="let produto of produtosPaginaAtual"></app-cardPadrao>
</div>
 <button class="botao-navegacao proximo" (click)="proximo()">▶</button>

</div>

</div>