.conteiner{
    display: flex;
    justify-content: center;
    font-family: var(--fontPadrao);

    height: 92vh;
    background: linear-gradient(180deg, #19759A 0%, #2CBFFF 100%);;
}

.logo{
    
    padding-left: 3rem;
    padding: 1rem;
    
    background-color: white;
}

.logo button{
    border: none;
    font-size: 24px;
    color: var(--azul1);
    font-style: italic;
    background-color: white
}

.logo button:hover{
    cursor: pointer;
}

.card {
    display: flex;
    width: 30vw;
    gap: 2rem;
    margin: 1rem 1rem;
    padding: 1rem 1rem;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: center;
    text-align: center;

    border: 1px solid var(--cinza1);
    border-radius: 5vh;
    background-color: white;
}

input {
    padding: 0.7rem 1.3rem;
    border: 1px solid var(--azul2);
    border-radius: 3vh;
    width: 100%;
}

input :focus {
    outline: none;
    border: 1px solid blue;
}

.form-geral {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    align-self: stretch;
}

.input-group {
    display: flex;
    flex-direction: column;
}

.btn-continuar {
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 3vh;
    align-self: center;

    background-color: var(--azul1);
    color: white;
}

.btn-continuar:hover {
    background-color: var(--azul2);
    transition: 700ms;
    cursor: pointer;
}

.btn-continuar:active {
    background-color: var(--azul3);
    transition: 400ms;
    outline: none;
}

.aviso{
    font-size: 14px;
}

.social-login {
    display: flex;
    padding: 0.5rem 1rem;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: fit-content;
    gap: 2vw;

    border-radius: 40px;
    border: 1px solid rgba(9, 9, 9, 0.26);
    background: rgba(23, 108, 142, 0.25);
}

.social-login button {
    padding: 0.5em;
    border: none;
    border-radius: 100%;
}

.social-login button:hover{
    cursor: pointer;
    transform: scale(1.2, 1.2);
    transition: 500ms;
}

.facebook {
    width: 30px;
}

label{
    font-weight: 600;
}