<div id="lading">

    <app-card-promocao></app-card-promocao>

    <div class="conteiner">


        <app-carrossel-marca></app-carrossel-marca>

        <app-visto-recente></app-visto-recente>

        <app-carrossel-mais-acessados></app-carrossel-mais-acessados>

        <app-mais-vendidos></app-mais-vendidos>

        <app-carrossel-ofertas></app-carrossel-ofertas>
    </div>


    <app-categorias></app-categorias>

    <div class="conteiner">
        <app-carrocel-seu-historico></app-carrocel-seu-historico>
    </div>

</div>

<app-footer></app-footer>