<div id="lading">

    <app-card-promocao></app-card-promocao>

    <div class="conteiner">
        
        @for (prod of listarP; track $index) {
            {{prod.nome}} <br>  
            {{prod.preco}} <br>
            {{prod.descricao}} <br>
            {{prod.categoria}} <br>
            <hr>   
        }
    </div>

    <app-categorias></app-categorias>

    <div class="conteiner">
        <app-carrossel ></app-carrossel>
    </div>

</div>
    <button routerLink="perfil/lista-de-desejos">perfil lista de desejos</button>
<app-footer></app-footer>