<div id="lading">

    <app-card-promocao></app-card-promocao>

    <app-categorias></app-categorias>

<div>
    <div class="conteiner">
        <div>
        <h2>Produtos em Destaque</h2>
        <app-carrossel ></app-carrossel>
        </div>

        <div>
        <h2>Ofertas Especiais</h2>
        <app-carrossel ></app-carrossel>
        </div>

        <div>
        <h2>Mais Vendidos</h2>
        <app-carrossel ></app-carrossel>
        </div>

        <div>
        <h2>Novidades</h2>
        <app-carrossel ></app-carrossel>
        </div>

        

    </div>

    

    

</div>
<app-footer></app-footer>
