<p>card-cadastro works!</p>
<div class="cont">
    <h2>{{titulo}}</h2>
    <div class="box-inputs">
        <div class="input-frame">
            <label for="email">Insira seu e-mail</label>
            <input type="text" name="email" id="email">
        </div>

        <div class="input-frame">
            <label for="email1">Confirme o e-mail</label>
            <input type="text" name="email" id="email">
        </div>

        <button>
            Continuar
            <img src="" alt="">
        </button>
    </div>
</div> 
