<div class="card">
    <h1>{{titulo}}</h1>

    <form id="form-email"> 
        <div class="input-group">
            <label for="email">{{acao}}</label>
            <input type="email" id="email" placeholder="{{placeH1}}" required>
        </div>

        <div class="input-group">
            <label for="confirmar">{{subAcao}}</label>
            <input type="email" id="confirmar-email" placeholder="{{placeH2}}" required>
        </div>

        <button type="button" class="btn-continuar" (click)="navegarProximoPasso()">
            Continuar
            <i class="fa-solid fa-arrow-right"></i>
        </button>

        <p class="ou">ou</p>

        <div class="social-login">
            <button class="google">
                <i class="fa-brands fa-google"></i>
            </button>
            <button class="facebook">
                <i class="fa-brands fa-facebook-f"></i>
            </button>
        </div>
    </form>
</div>