<div class="card">
      <h1>{{this.titulo}}</h1>

      <form id="form-email">
        <div class="input-group">
          <label for="email">{{this.acao}}</label>
          <input type="email" id="email" placeholder={{this.placeH1}} required>
        </div>

        <div class="input-group">
          <label for="confirmar">{{this.subAcao}}</label>
          <input type="email" id="confirmar-email" placeholder={{this.placeH2}} required>
        </div>

        <form action="" method="get">
        <button type="submit" class="btn-continuar" routerLink={{this.link}}>
            Continuar
            <i class="fa-solid fa-arrow-right"></i>
        </button>
        </form>

        <p class="ou">ou</p>

        <div class="social-login">
          <button class="google">
            <i class="fa-brands fa-google"></i>
          </button>
          <button class="facebook">
            <i class="fa-brands fa-facebook-f"></i>
          </button>
        </div>
      </form>
    </div>