<div class="conteiner">
    <h2>Olá, Usuário</h2>

    <div class="body">
        <div class="botoes">
            <button class="bt1" ><img src="icons/User icon.svg" alt="user"> {{opcoes[0]}}</button>
            <button><img src="icons/livro-boo-khistorico.svg" alt="user"> {{opcoes[1]}} </button>
            <button> <img src="icons/localizacao.svg" alt="localizacao">{{opcoes[2]}}</button>
            <button> <img src="icons/card.svg" alt="cartao">{{opcoes[3]}}</button>
            <button> <img src="icons/coracao.svg" alt="cartao">{{opcoes[4]}}</button>
        </div>

        <div class="sair">
            <button>Desconectar <img src="icons/perfilLogout.svg" alt=""></button>
        </div>
    </div>

</div>