.conteiner {
    display: flex;
    padding: 30px 20px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    align-self: stretch;

    border-radius: 15px;
    border: 1px solid #E7E7E7;
    background: #FFF;
}

.botoes {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 17px;
    align-self: stretch;
}

.body {
    display: flex;
    width: 333px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex: 1 0 0;
    gap: 30px;
}

button {
    display: flex;
    padding: 10px 20px;
    justify-content: flex-start;
    align-items: center;
    gap: 10%;
    align-self: stretch;

    border-radius: 10vh;
    background-color: #FFF;
}

.botoes button {
    border-width: 1px;
    border-color: #2499C7;
    font-size: 16px;
}

.bt1{
    background-color: #2499C7;
    color: #FFF;
}

.sair button{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    justify-items: center;

    width: 100%;
    color: #adadad;
}