<div class="lista-conteiner">
    <div class="lista-head">
        <input type="text" name="" id="busca-produtos">
        <button class="add-button"> 
            <p>Adicionar</p>
            <img src="/src/app/Img/add-icon.svg" alt="">
        </button>
    </div>

    <div class="lista-content">
        <div class="content-head">
            <input type="checkbox" name="" id="cb-1">
            
            <div class="cabecalho-lista">
                <ul>
                    <li>
                        <p>Produto</p>
                        <img src="/src/app/Img/sorter-icon.svg" alt="">
                    </li>
                    <li>
                        <p>Preço</p>
                        <img src="/src/app/Img/sorter-icon.svg" alt="">
                    </li>
                    <li>
                        <p>Tamanho</p>
                        <img src="/src/app/Img/sorter-icon.svg" alt="">
                    </li>
                    <li>
                        <p>Quantidade</p>
                        <img src="/src/app/Img/sorter-icon.svg" alt="">
                    </li>
                    <li>
                        <p>Data</p>
                        <img src="/src/app/Img/sorter-icon.svg" alt="">
                    </li>
                    <li>Ação</li>
                </ul>
            </div>
        </div>
        <div class="lista-prds">
            <ul>
                <li>
                    <input type="radio" name="" id="">
                </li>
            </ul>
        </div>
        <div class="content-footer">

        </div>
    </div>
</div>
