
.group{
    display: flex;
    width: 100%;
    justify-content: center;
}

.carousel{
    margin: 0;
    padding: 0;
    width: 90%;
}

::ng-deep .slick-prev:before,
::ng-deep .slick-next:before {
    color: #2499c7 !important;
}


