<div class="cont">
    <app-nav></app-nav>
    <div class="main">
        <app-adm-header></app-adm-header>
        <div class="main-cont">
            <form class="card">
                <div class="double-input">
                    <div class="input-box">
                        <label for="nome">Nome</label>
                        <input type="text" id="nome">
                    </div>
                    <div class="input-box">
                        <label for=""></label>
                    </div>
                </div>
                <div class="double-input">

                </div>
            </form>
        </div>
    </div>
</div>