/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    /* cores do site */
    --amarelo:  #F5F50C;
    --azul1:    #2CBFFF;
    --azul2:    #2499C7;
    --azul3:    #176C8E;
    --azul4:    #006691;
    --azul5:    #004563;
    --cinza1:   #A2A29D;
    --cinza2:   #444444;
    --branco:   #FFFFFF;
    --borda:    1px solid rgba(115, 115, 115, 0.2);;

    --fundo:    #F7F7F7;
    --fundo-escuro: rgb(25, 25, 25);
    --fontPadrao: "Montserrat", sans-serif;
    /* Fonte padrão */
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fontPadrao);
}

.inp_pd{
    border-radius: 12px;
    border: 1.6px solid var(--Neutral-200, #D1D1D1);

    display: flex;
    height: 52px;
    padding: 16px;
    align-items: center;
    gap: 4px;
    align-self: stretch;
}

