<div class="menu-lateral">
  <!-- topo com login/cadastro -->
  <div class="menu-topo">
    <div class="usuario">
      <span class="icone-usuario"></span>
      <button class="bot entrar">Entrar</button>
      <button class="bot cadastrar">Cadastrar</button>
    </div>
  </div>

  <!-- lista de opções -->
  <div class="menu-opcoes">
    <button class="opcao">Minhas compras</button>

    <button class="opcao">Listas de presente</button>

    <button class="opcao">Minhas avaliações</button>

    <button class="opcao">Ajuda</button>

    <button class="opcao texto">Política de privacidade</button>

    <button class="opcao texto">Termos e condições</button>

  </div>
</div>
