#menu-container {
position: fixed;
top: 0;
left: -417px;
z-index: 1000;
width: 417px;
height: 100vh;
background: #FFF;
border-radius: 0 20px 20px 0;
transition: left 0.3s ease;
display: flex; 
flex-direction: column; 
}

#menu-container.aberto {
left: 0;
}

.overlay {
position: fixed;
top: 0;
left: 0;
width: 100vw;
height: 100vh;
background-color: rgba(0, 0, 0, 0.5); 
z-index: 999; 
display: none; 
}

.overlay.visivel {
display: block; 
}

#menu-header {
display: flex;
justify-content: space-between;
align-items: center;
background: var(--azul3);
color: white;
padding: 20px;
}

#menu-perfil {
display: flex;
align-items: center;
gap: 10px;
}

#icone-circulo-grande {
width: 64px;
height: 64px;
border-radius: 50%;
background: #2499c7; 
display: flex;
align-items: center;
justify-content: center;
}

#icone-circulo-grande img {
 width: 45px;
 height: 45px;
}

.titulo-menu {
font-size: 1.5rem;
font-weight: bold;
color: white;
}

.botao-fechar {
background: transparent;
border: none;
font-size: 2rem;
font-weight: bold;
color: white;
cursor: pointer;
}

#menu-login {
display: flex;
justify-content: center;
align-items: center;
background: var(--azul3); 
padding-bottom: 20px;
gap: 15px;
}

#btnEntrar {
width: 140px;
height: 40px;
background: #f5f50c;
color: #000;
border: none;
font-weight: bold;
cursor: pointer;
border-radius: 13px;
}

#btnCadastrar {
width: 140px;
height: 40px;
background: #f5f50c;
color: #000;
border: none;
font-weight: bold;
cursor: pointer;
border-radius: 13px;
}

#btnEntrar:hover, #btnCadastrar:hover {
background-color: #1d83aa;
color: #fff;
}

#menu-lateral {
margin-top: 20px;
display: flex;
flex-direction: column;
gap: 10px; 
padding: 0 20px;
}

#menu-lateral button {
display: flex;
align-items: center;
gap: 10px; 
background: #2499c7;
border: none;
border-radius: 10px;
color: #fff;
font-weight: bold;
padding: 5px 15px;
cursor: pointer;
font-size: 14px;
text-align: left;
}

.icone-pequeno {
 width: 50px;
 height: 50px;
 border-radius: 50%;
 background: #006691;
 display: flex;
 align-items: center;
 justify-content: center;
 flex-shrink: 0;
}

.icone-pequeno img {
width: 24px;
height: 24px;
filter: brightness(0) saturate(100%) invert(88%) sepia(26%) saturate(1065%) hue-rotate(334deg) brightness(101%) contrast(97%);
}

.submenu-container {
 border-radius: 10px;
 background: #ededed;
 padding: 12px;
 margin-left: 65px; 
 display: flex;
 flex-direction: column;
 gap: 12px;
}

.submenu-container button {
padding: 8px 12px;
}