
<main>
    <app-nav class="teste"></app-nav>   
    <div class="groupPrincipal">
        <app-adm-header></app-adm-header>
        <section>
            <div class="titulo">
                <h1>Produtos</h1>
                <app-breadcumbs [pages]="paginas"></app-breadcumbs>
            </div>
            <div class="groupCards">
                <form #produtoForm="ngForm" class="formCard">
                    <h2>informações do Produto</h2>

                    <div class="input">
                        <p>Nome do produto</p>
                        <input type="text" name="nome" [(ngModel)]="produto.nome" placeholder="Digite o nome">
                         <!-- //input em componente -->
                    </div>
                    <div class="input">
                        <p>Descrição do produto</p>
                        <input type="text" name="descricao" [(ngModel)]="produto.descricao" placeholder="Digite a descrição">
                    </div>
                    
                    <div class="inputsDiv">
                        <div class="input">
                            <p>Quantidade</p>
                            <input type="number" name="quantidade" [(ngModel)]="produto.qtd" placeholder="Digite a quantidade">
                        </div>
                        <div class="input">
                            <p>Preço</p>
                            <input type="text" name="preco" [(ngModel)]="produto.preco" placeholder="Digite o preço">
                        </div>              
                    </div>
                
                    <div class="inputsDiv">
                        <div class="input">
                            <p>Ano de lançamento</p>
                            <input type="text" name="lancamento" [(ngModel)]="produto.anoLancamento" placeholder="Digite o ano de lançamento">
                        </div>
                        <div class="input">
                            <p>Marca</p>
                            <input type="text" name="marca" [(ngModel)]="produto.marca" placeholder="Digite a marca">
                        </div>              
                    </div>

                    <div class="inputsDiv">
                        <div class="input">
                            <p>Categoria</p>
                            <input type="text" name="lancamento" [(ngModel)]="produto.categoria" placeholder="Digite o ano de lançamento">
                        </div>
                        <div class="input">
                            <p>tamanho</p>
                            <input type="text" name="marca" [(ngModel)]="produto.tamanho" placeholder="Digite a marca">
                        </div>              
                    </div>
                </form>

                <div class="groupDireita">
                    <form #produtoForm="ngForm" class="formCard">
                        <h2>Especificações do produto</h2>

                        @for(especificacao of produto.especificacoes; track $index){
                            <div class="inputsDiv">
                                <div class="input">
                                    <p>Categoria </p>
                                    <div>
                                        <p class="falso">{{especificacao.especificacao}}</p>
                                        <input type="text" class="verdadeiro" name="especificao" [(ngModel)]="produto.especificacoes[$index].especificacao" placeholder="Digite a categoria">
                                    </div>
                                </div>
                                <div class="input">
                                    <p>Valor</p>
                                    <div>
                                        <p class="falso">{{especificacao.valor}}</p>
                                        <input type="text" class="verdadeiro" name="valor" [(ngModel)]="especificacao.valor" placeholder="Digite o valor">
                                    </div>
                                </div>              
                            </div>   
                        }

                        <button class="add-button" (click)="addEspecificacao()"><p>Adicionar Especificação </p><img src="icons/adm/add-white-icon.svg" alt=""></button>
                    </form>
                    <form #produtoForm="ngForm" class="formCard">
                        <h2>Imagens do produto</h2>

                        <div class="imgs-prd">
                            <div class="molduras">
                                <div class="moldura 1">
                                    <img [src]="caminho" alt="">
                                    <input #img1 type="file" accept="image/*" (change)="carregarArquivo(img1,0)">
                                    Img 1
                                </div>
                                <div class="moldura 2">
                                    <img src="icons/adm/img-frame-icon.svg" alt="">
                                    <input #img1 type="file" accept="image/*" (change)="carregarArquivo(img1,1)">
                                    Img 2
                                </div>
                                <div class="moldura 3">
                                    <img src="icons/adm/img-frame-icon.svg" alt="">
                                    <input #img1 type="file" accept="image/*" (change)="carregarArquivo(img1,2)">
                                    Img 3
                                </div>
                                <div class="moldura 4">
                                    <img src="icons/adm/img-frame-icon.svg" alt="">
                                    <input #img1 type="file" accept="image/*" (change)="carregarArquivo(img1,3)">
                                    Img 4
                                </div>
                                <div class="moldura 4">
                                    <img src="icons/adm/img-frame-icon.svg" alt="">
                                    <input #img1 type="file" accept="image/*" (change)="carregarArquivo(img1,4)">
                                    Img 5
                                </div>

                            </div>
                        </div>
                    </form>
                    <button class="add-button" routerLink="/adm/produto" (click)="addProd()">Adicionar <img src="icons/adm/add-white-icon.svg" alt=""></button>
                </div>
            </div>
        </section>
    </div>
</main>