main{
display: flex;
}

main .groupPrincipal{
    max-width: 85vw;
    display: flex;
    flex-direction: column;
}

section{
    padding: 30px;
    background-color: var(--fundo);
    height: auto;
    flex-grow: 1;    
}

input{
    border-radius: 12px;
    border: 1px solid var(--cinza1);
    display: flex;
    padding: 15px;  
    width: 100%;
    align-items: center;
    gap: 4px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}
.input{
    width: 100%;
}

p{
    font-size: 14px;
    font-weight: 700;
    line-height: 150%;
}

h2{
    font-size: 20px;
    font-weight: 500;
}
.titulo h1{
    margin-bottom: 1%;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
}

.groupCards{
    padding: 30px 0px;
    display: flex;
    gap: 30px;
}

.formCard{
    width: 100%;
    padding: 20px;  
    border-radius: 20px;
    border: 1px solid #E7E7E7;
    background: #FFF;

    display: flex;
    flex-direction: column;
    gap: 30px;
}   

.inputsDiv{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 5%;
}

.groupDireita{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 2vh;
}

.add-button{
    min-width: 192px;
    height: 44px;
    padding: 15px;
    border-radius: 15px;
    border: none;

    display: flex;
    justify-content: space-between;
    align-items: center;

    color: white;
    font-size: 16px;
    font-weight: 600;
    background-color: var(--azul2);
    cursor: pointer;
    
    align-self: flex-end;
}

.add-button p{
    margin-right: 10px;
}

.add-button:hover{
    background-color: var(--azul3);
}

.imgs-prd {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
}

.molduras {
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: flex-start;
    gap: 2vw;
    width: 100%;
}

.moldura {
    display: flex;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 8px;
    border: 1px dashed var(--Cerulean-Blue-600, #1A71F6);
    background: var(--Cerulean-Blue-50, #EEF7FF);
}