@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.admin-header {
    display: flex;
    width: 83.93vw;
    height: 87px;
    padding: 1vh 2vw 0 1vw;
    justify-content: space-between;
    align-items: center;

    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.25);
    margin-bottom: 2px;
}

.busca-admin {
    display: flex;
    width: 535px;
    height: 45px;
    padding: 10px;
    align-items: center;
    gap: 50px;

    border: 0.2px solid rgb(141, 141, 141);
    border-radius: 2vh;

    background-image: url(/icons/adm/lupa-Icon.svg);
    background-repeat: no-repeat;
    background-position: 95%;
}

.adm-login {
    display: flex;
    width: max-content;
    align-items: center;
    gap: 1vw;
}

.login-txt1 {
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    line-height: normal;
}

.login-txt2{
    font-size: 16px;
}

.user-icon{
    width: 29px;
    height: 29px;
}

.user-icon:hover{
    cursor: pointer;
}

